<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762717384744-sagvsflfjnbi0u0nlc1o7fi1dadegmal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762717384744-sagvsflfjnbi0u0nlc1o7fi1dadegmal</string>
	<key>API_KEY</key>
	<string>AIzaSyDrbpkSnvKlPVDCJ5KYEZ7-nukwA_qUoWg</string>
	<key>GCM_SENDER_ID</key>
	<string>762717384744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.teachmeskills.kinopoisk</string>
	<key>PROJECT_ID</key>
	<string>kinopoisk-524fb</string>
	<key>STORAGE_BUCKET</key>
	<string>kinopoisk-524fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762717384744:ios:df396c11cb234dcd65051d</string>
</dict>
</plist>